# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [1]:
print("Allen")

Allen

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [4]:
dataset = pd.DataFrame()
students = pd.read_csv("data_raw/students.csv")
bins = [0, 60, 70, 80, 90, 100]  # Define the numeric grade intervals
labels = ['F', 'D', 'C', 'B', 'A']  # Corresponding letter grades

# Step 3: Use pd.cut() to assign letter grades
students['lettergrade'] = pd.cut(students['numericgrade'], bins=bins, labels=labels, right=True)

# Display the updated DataFrame
print(students)

    studentid  numericgrade lettergrade
0           1            61           D
1           2             0         NaN
2           3            14           F
3           4            57           F
4           5            72           C
5           6            93           A
6           7            40           F
7           8            11           F
8           9             3           F
9          10            63           D
10         11             7           F
11         12            46           F
12         13            75           C
13         14            95           A
14         15            22           F
15         16            40           F
16         17            53           F
17         18            57           F
18         19            82           B
19         20            50           F
20         21             8           F
21         22            87           B
22         23            82           B
23         24            30           F
24         25            62           D

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [2]:
# Write your own code

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [3]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [4]:
# Write your own code here

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [5]:
# Write your own code

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [6]:
# Write your own code