# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [1]:
print("Allen")

Allen

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [5]:
dataset = pd.DataFrame()
students = pd.read_csv("data_raw/students.csv")
bins = [0, 60, 70, 80, 90, 100]  # Define the numeric grade intervals
labels = ['F', 'D', 'C', 'B', 'A']  # Corresponding letter grades

#Use pd.cut() to assign letter grades
students['lettergrade'] = pd.cut(students['numericgrade'], bins=bins, labels=labels, right=True)

# Display the updated DataFrame
print(students)

    studentid  numericgrade lettergrade
0           1            61           D
1           2             0         NaN
2           3            14           F
3           4            57           F
4           5            72           C
5           6            93           A
6           7            40           F
7           8            11           F
8           9             3           F
9          10            63           D
10         11             7           F
11         12            46           F
12         13            75           C
13         14            95           A
14         15            22           F
15         16            40           F
16         17            53           F
17         18            57           F
18         19            82           B
19         20            50           F
20         21             8           F
21         22            87           B
22         23            82           B
23         24            30           F
24         25            62           D

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [6]:
# Write your own code
results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [13]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

print(results.info())

print(results.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25840 non-null  int64
 1   raceId           25840 non-null  int64
 2   driverId         25840 non-null  int64
 3   constructorId    25840 non-null  int64
 4   number           25840 non-null  object
 5   grid             25840 non-null  int64
 6   position         25840 non-null  object
 7   positionText     25840 non-null  object
 8   positionOrder    25840 non-null  int64
 9   points           25840 non-null  float64
 10  laps             25840 non-null  int64
 11  time             25840 non-null  object
 12  milliseconds     25840 non-null  object
 13  fastestLap       25840 non-null  object
 14  rank             25840 non-null  object
 15  fastestLapTime   25840 non-null  object
 16  fastestLapSpeed  25840 non-null  object
 17  statusId         25840 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.5+ MB
None
resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [31]:
# Write your own code here


results = pd.read_csv("data_raw/results.csv")

non_numeric_milliseconds = results[~results['milliseconds'].apply(lambda x: pd.to_numeric(x, errors='coerce')).notnull()]

# Display non-numeric values
print(non_numeric_milliseconds['milliseconds'].unique())

# Replace string values in the milliseconds column 
results['milliseconds'].replace('invalid', np.nan, inplace=True)

# Convert the 'milliseconds' column to numeric, forcing non-numeric values to NaN
results['milliseconds'] = pd.to_numeric(results['milliseconds'], errors='coerce')

print(results[['milliseconds']].head())

['\\N']
   milliseconds
0     5690616.0
1     5696094.0
2     5698779.0
3     5707797.0
4     5708630.0

/var/folders/t5/72w98jy14hgfvdlr8j64xk740000gn/T/ipykernel_60177/273926828.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  results['milliseconds'].replace('invalid', np.nan, inplace=True)

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [32]:
# Write your own code
df_aggCon_pos = results.groupby('constructorId').agg(
    mean_laps=('laps', 'mean'),
    std_laps=('laps', 'std')
).reset_index()

# Display the aggregated dataset
print(df_aggCon_pos.head())

# Sort by 'mean_laps' in descending order
df_aggCon_pos = df_aggCon_pos.sort_values(by='mean_laps', ascending=False)

# Display the sorted dataset
print(df_aggCon_pos.head())

   constructorId  mean_laps   std_laps
0              1  50.522119  22.762168
1              2  56.700000  14.541283
2              3  51.283912  20.950131
3              4  48.715375  21.690521
4              5  50.322761  19.914920
     constructorId   mean_laps   std_laps
146            149  198.500000   2.121320
109            112  197.000000   4.242641
106            109  184.285714  32.912583
116            119  178.666667  36.950417
105            108  163.764706  63.148168

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [33]:
# Write your own code
subset_results = results.query('raceId >= 150')

# Convert the 'position' column to numeric, coercing non-numeric values to NaN
results['position'] = pd.to_numeric(results['position'], errors='coerce')

# Subset the data where 'race_id' is greater than or equal to 150
subset_results = results.query('raceId >= 150')

# Drop rows where 'position' is NaN 
subset_results = subset_results.dropna(subset=['position'])

# Group by 'constructorId' and compute the mean and standard deviation for 'position'
df_subAggCon_pos = subset_results.groupby('constructorId').agg(
    mean_position=('position', 'mean'),
    std_position=('position', 'std')
).reset_index()

# Display the aggregated dataset
print(df_subAggCon_pos.head())

   constructorId  mean_position  std_position
0              1       6.121634      4.294358
1              3       7.983836      5.509701
2              4       8.617834      4.388534
3              5      11.430868      3.157308
4              6       4.733661      3.395834